BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Always
ReflowComments: false
AccessModifierOffset: -4
IncludeBlocks: Preserve
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
BreakBeforeBinaryOperators: NonAssignment
SpaceInEmptyBlock: true
SpacesBeforeTrailingComments: 1
SpaceAfterTemplateKeyword: true
IndentAccessModifiers: false
IndentRequiresClause: false
IndentCaseLabels: false
IndentPPDirectives: BeforeHash
InsertNewlineAtEOF: true
BinPackArguments: true
BinPackParameters: true
PackConstructorInitializers: BinPack
NamespaceIndentation: All
Cpp11BracedListStyle: false
FixNamespaceComments: false
AlignAfterOpenBracket: DontAlign
AlignOperands: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowAllArgumentsOnNextLine: false
