name: Linux

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: CMake
              uses: lukka/get-cmake@latest

            - name: Vcpkg
              uses: lukka/run-vcpkg@v11
              with:
                vcpkgGitCommitId: bd136dad4da8059ba93f71412f52b2ec7c09d377

            - name: Dependencies
              run: |
                  sudo dpkg --add-architecture i386
                  sudo apt-get update
                  sudo apt-get install git make gcc-multilib g++-multilib pkg-config linux-libc-dev nasm:i386

            - name: API
              run: |
                  cd ..
                  git clone https://github.com/callofduty4x/CoD4x_Server.git
                  cp CoD4x_Server/plugins/* .

            - name: Build
              run: |
                  mkdir build && cd build
                  cmake .. --preset linux
                  cmake --build .

            - name: Artifact
              uses: actions/upload-artifact@v4
              with:
                  name: build-artifact
                  path: build


